@model punto.Models.tbpersona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        @{
            int i = 0;
            i++;
            @i
            }

        @Html.Label("este es un label")
        @Html.TextBox("nombre", "este es el nombre", 
            new { placeholder="Tu nombre",@class="textos" }
        )
        @{
            var lista=new List<SelectListItem>(){
                new SelectListItem(){ Text="bolivia", Value="1"},
                new SelectListItem(){ Text="Chile", Value="0"},
            };
          }
        @Html.DropDownList("algo",lista)
        <br />
        
        /********************************************************************/
        @using (Html.BeginForm()){
            @Html.ValidationSummary()
            
            
            @Html.LabelFor(a=>a.nombre)
            @Html.TextBoxFor(a=>a.nombre)
            @Html.ValidationMessageFor(a => a.nombre, "", new {style="color:red" })

            <input type="submit" value="enviar" />
        }

    </div>
</body>
</html>
