@model punto.Models.tbusuario
@{
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        @Html.LabelFor(a => a.login)
        @Html.TextBoxFor(a => a.login)
        @Html.ValidationMessageFor(a => a.login, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.pass, "", new{ runat="server"} )
        @Html.TextBoxFor(a => a.pass)
        @Html.ValidationMessageFor(a => a.pass, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.fid)
        @Html.TextBoxFor(a => a.fid)
        @Html.ValidationMessageFor(a => a.fid, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.femail)
        @Html.TextBoxFor(a => a.femail)
        @Html.ValidationMessageFor(a => a.femail, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.fullname)
        @Html.TextBoxFor(a => a.fullname)
        @Html.ValidationMessageFor(a => a.fullname, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.gid)
        @Html.TextBoxFor(a => a.gid)
        @Html.ValidationMessageFor(a => a.gid, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.gemail)
        @Html.TextBoxFor(a => a.gemail))
        @Html.ValidationMessageFor(a => a.gemail), "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.creado)
        @Html.TextBoxFor(a => a.creado)
        @Html.ValidationMessageFor(a => a.creado, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.fechacreacion)
        @Html.TextBoxFor(a => a.fechacreacion)
        @Html.ValidationMessageFor(a => a.fechacreacion, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.fechamodificacion)
        @Html.TextBoxFor(a => a.fechamodificacion)
        @Html.ValidationMessageFor(a => a.fechamodificacion, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.estado)
        @Html.TextBoxFor(a => a.estado)
        @Html.ValidationMessageFor(a => a.estado, "", new { style = "color:red" })
        <br />
        @Html.LabelFor(a => a.tbpersona)
        @Html.TextBoxFor(a => a.tbpersona)
        @Html.ValidationMessageFor(a => a.tbpersona, "", new { style = "color:red" })
        <br />
        <input type="submit" value="enviar" />
    </div>
</body>
</html>
